
.logo-icon {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  color: #4675eb;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
}

.logo-text {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}


.dropdown-menu {

  right: 0;
  left: auto;
  margin: 0;
 
}
.user-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: #fff;
  color: blue;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
  margin-right: 8px;
  font-size: 1rem;
}