.selected {
    
    background-color: rgba(0, 0, 255, 0.1); 
    
}
.container {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.titulo {
    text-align: center;
    width: 100%;
    border-radius: 8px 8px 0 0;
    box-sizing: border-box;
    padding: 20px 0 10px 0; /* Solo arriba y abajo */
    background-color: #1677ff;
    color: #fff;
}

.table-container {
  margin: 20px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.agregar {
  background-color: #80EF80;
}
.editarModulo {
  background-color: #FFC067;
}
.eliminar {
  background-color: #FF746C;
}


.btn {
  transition: all 0.3s ease;
}


.btn:not(.btn-disabled):hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.eliminar:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #6c757d !important;
  color: #fff !important;
}
.editarModulo:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #6c757d !important;
  color: #fff !important;
}
.module-card {
  border: 3px solid;
  border-radius: 10px;
  transition: transform 0.2s ease;
  height: 100%;
  cursor: pointer;
  margin: 0px 10px 20px 10px;
}

.module-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.time-indicator {
  padding: 8px 12px;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  margin-top: 10px;
  display: inline-block;
}





.spinner-border {
  width: 3rem;
  height: 3rem;
}

.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #666;
  font-size: 0.9rem;
}
